.header { background-color: rgb(201, 147, 186); }
 
.header-2 {
    background-color: #66b5f5;
    color: black;
}

.footer { background-color: rgb(201, 147, 186); }

.footer-2 { background-color: rgb(102, 181, 245); }